*, *::after, * ::before {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient( to right , #00385e , #0789d4);
}

.btn {
  outline: none;
  padding: 16px 32px ;
  background: rgb(0, 1, 59);
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 10px 0 10px 0;
  border-bottom:  4px solid orange;
  position: relative;
  left: 40%;
  margin-top: 5px;
  transition: all 0.5s ease;
}

.btn:hover {
  border-radius: 0 10px 0 10px ;
}



